.todo-li {
    list-style: none;
    cursor: pointer;
}

.todo-li-completed {
    text-decoration: line-through;
    color: lightgray;
}


.delete-btn {
    margin-left: 25px;
    background-color: coral;
    border-radius: 5px;
    width: 50px;
}